* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-color: hsl(0, 0%, 100%);
}

.imgLogo {
    padding: 25px;
}

.containerComingSoon {
    display: flex;
    width: 100%;
    flex-direction: column;
    place-content: center;
    align-items: center;
}

.heroImageMobile {
    margin-bottom: 20px;
    width: 500px;
    object-fit: cover;
}

.textCopy {
    font-weight: 300;
    color: hsl(0, 36%, 70%);
}

.textCopy1 {
    font-weight: 600;
    color: hsl(0, 6%, 24%);
}

.textCopy2 {
    padding: 10px 85px;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    text-align: center;
    color: hsl(0, 36%, 70%); 
}

.textStyle {
    font-size: 40px;
    letter-spacing: 10px;
    line-height: 0;
    text-align: center;
    text-transform: uppercase;
}

.form {
    position: relative;
    padding: 0px 90px 14px 90px;
}

.userEmail {
    width: 100%;
    padding: 15px;
    border-radius: 50px;
    border: 1px solid hsl(0, 36%, 70%);
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.userEmail::placeholder {
    color: hsl(0, 36%, 70%);
}

.userEmail:focus {
    outline: 1px solid hsl(0, 93%, 68%);
}

.submit {
    position: absolute;
    margin-left: -59px;
    padding: 13px 25px;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border-radius: 90px; 
}

.iconError {
    position: absolute;
    margin: -35px 0px 0px 0px;
    padding-left: 220px;
}

.textError {
    margin: 0px;
    padding-top: 5px;
    padding-left: 15px;
    font-size: 14px;
    color: hsl(0, 93%, 68%);
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 768px) {
    body {
        background-image: url(../img/bg-pattern-desktop.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .imgLogo {
        padding: 50px 150px;
    }

    .containerComingSoon {
        flex-direction: row-reverse;
    }

    .heroImageMobile {
        width: 610px;
        height: 95vh;
        margin-top: -137px;
        margin-bottom: 0px;
    }

    .containerCopy {
        width: 100%;
        padding-left: 150px;
    }

    .textCopy2 {
        width: 560px;
        padding: 0px;
        line-height: 35px;
        font-size: 22px;
        text-align: left;
    }

    .textStyle {
        font-size: 80px;
        text-align: left;
    }

    .form {
        width: 560px;
        padding: 0px;
    }

    .userEmail {
        background: url(../img/bg-pattern-desktop.svg)
    }

    .submit {
        margin-left: -83px;
        padding: 13px 35px;
    }

    .iconError {
        padding-left: 430px;
    }

    .textError {
        padding-top: 12px;
        font-size: 16px;
    }
}